.produto {
  display: flex;
  &>* {
    flex: 1;
  }
}

.fotos {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.foto {
  max-width: 400px;
  border-radius: 4px;
}

.info {
  padding: 1rem;
}

.preco {
  background-color: #89fc51;
  color: #23920a;
  display: inline-block;
  padding: .5rem;
  border-radius: 4px;
}